<div class="row mb-4">
	<div class="col-sm-7">
	  <div class="card bg-total-unit px-5 py-2">
		<div class="row">
		  <div class="col-sm-6">
			<span viewBox="0 0 100 100" width="100%" height="auto" class="kt-grid-nav__icon" [inlineSVG]="'./assets/media/icons/dashboard_icon/ri_building-fill.svg'"></span>
		  </div>
		  <div class="col-sm-6">
			<div class="d-flex justify-content-center">
			  <span class="h1">{{ total }}</span>
			</div>
			<div class="d-flex justify-content-center">
			  <span class="h3 fw-bold">Total Units</span>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-sm-5">
	  <div class="row mb-3">
		<div class="col">
		  <div class="card bg-bast-unit px-3 py-1">
			<div class="row">
			  <div class="col">
				<span class="kt-grid-nav__icon" [inlineSVG]="'./assets/media/icons/dashboard_icon/mdi_offer.svg'"></span>
			  </div>
			  <div class="col">
				<div class="d-flex justify-content center">
				  <span class="h5">{{ bast }}</span>
				</div>
				<div class="d-flex justify-content center">
				  <span class="fw-bold">BAST Units</span>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="row">
		<div class="col">
		  <div class="card bg-available-unit px-3 py-1">
			<div class="row">
			  <div class="col">
				<span class="kt-grid-nav__icon" [inlineSVG]="'./assets/media/icons/dashboard_icon/fluent_person.svg'"></span>
			  </div>
			  <div class="col">
				<div class="d-flex justify-content center">
				  <span class="h5">{{ available }}</span>
				</div>
				<div class="d-flex justify-content center">
				  <span class="fw-bold">Available Units</span>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>