<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/lostandfound']" class="btn btn-secondary kt-margin-r-10" mat-raised-button>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<button href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary"
				(click)="onSubmit(false, 'submit')" [disabled]="loading" mat-raised-button>
				<span>Take Package </span>
			</button>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					<p class="sty-default m-0 p-0"> Package Infromation </p>
				</ng-template>
				<section class="packageManagement" style="overflow: hidden;">
					<div class="section">
						<!-- Form Input START -->
						<form class="kt-form kt-form--group-seperator-dashed">
							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
								(close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group">

									<div class="row form-input">
										<div class="col-md-6 row">
											<label for="crdate" class="label-custom col-sm-6">Package Status</label>
											<span class="ml-2 chip mb-4" [ngClass]="packages?.package_status === 'wait-confirm' ? 'chip--wait-confirm' :
												 packages?.package_status === 'done-confirm' ? 'chip--done-confirm':
												 packages?.package_status === 'done' ? 'chip--done': 'chip--danger'">
												{{modulePackage.changeStatus(packages?.package_status)}}
											</span>
										</div>
									</div>

									<div class="row form-input-date">
										<div class="col-md-6 row mb-3">
											<label for="crdate" class="label-custom col-sm-6">Date of Entry</label>
											<mat-form-field class="mat-form-field-fluid col-sm-6">
												<input matInput class="inpt-custom" [formControl]="packageInformation.entryDate" readonly />
												<mat-datepicker-toggle class="ic-date" matSuffix></mat-datepicker-toggle>
												<mat-error>Date of Entry is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>

										<div class="col-md-6 row">
											<label for="crdate" class="label-custom col-sm-6">Waktu Masuk</label>
											<mat-form-field class="mat-form-field-fluid col-sm-6">
												<input matInput class="inpt-custom" [formControl]="packageInformation.entryTime" readonly />
												<mat-datepicker-toggle class="ic-date" matSuffix></mat-datepicker-toggle>
												<mat-error>Waktu Masuk is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row form-input">
										<div class="col-md-6 row mb-3">
											<label for="crdate" class="label-custom col-sm-6">Pilih Unit</label>
											<!-- Auto Complete -->
											<mat-form-field class="mat-form-field-fluid col-sm-6">
												<input type="text" class="inpt-custom" matInput [matAutocomplete]="csmrAuto"
													(keyup)="_onKeyupUnit($event)" [formControl]="packageInformation.unit">
												<mat-error>Fill input by selecting the given items</mat-error>
												<div class="form-loader d-none">
													<mat-spinner [diameter]="10"></mat-spinner>
												</div>
												<mat-autocomplete #csmrAuto="matAutocomplete">
													<mat-option *ngFor="let item of UnitResultFiltered" [value]="item.cdunt | uppercase"
														(click)="unitOnChange(item._id)">
														{{item.cdunt | uppercase }}
													</mat-option>
												</mat-autocomplete>
											</mat-form-field>
										</div>

										<div class="col-md-6 row">
											<label for="crdate" class="label-custom col-sm-6">Nama Pelanggan</label>
											<mat-form-field class="mat-form-field-fluid col-sm-6">
												<input matInput class="inpt-custom" [formControl]="packageInformation.cstmr" autocomplete="off"
													readonly />
												<mat-error>Nama Pelanggan is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
									<div class="row form-input">
										<div class="col-md-6 row">
											<label for="crdate" class="label-custom col-sm-6">ID Paket</label>
											<mat-form-field class="mat-form-field-fluid col-sm-6">
												<input matInput class="inpt-custom" [formControl]="packageInformation.packageId"
													autocomplete="off" readonly />
												<mat-error>ID Paket is
													<strong>required</strong>
												</mat-error>
											</mat-form-field>
										</div>
									</div>
								</div>
							</div>
						</form>
						<!-- Form Input END -->
					</div>
				</section>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					<p class="sty-default m-0 p-0"> Image </p>
				</ng-template>
				<section class="packageManagement row">
					<div class="section col-lg-6" style="border-right: 2px solid rgba(0, 0, 0, 0.221)">
						<h5 class="sty-default">Package In</h5>
						<div class="form-image-container">
							<a target="blank" *ngFor="let image of packages?.attachment" href="{{image}}">
								<img crossorigin="anonymous" width="250" class="mr-2 mb-2" src="{{image}}">
							</a>
							<div class="no-image" *ngIf="!packages?.attachment || packages?.attachment.length === 0">
								<span>No image attached!</span>
							</div>
						</div>
					</div>
					<div class="section col-lg-6" style="border-right: 2px solid rgba(0, 0, 0, 0.221)">
						<h5 class=" sty-default">Recipient's  photo</h5>
						<div class="form-image-container">
							<a target="blank" *ngFor="let image of packages?.handoverAttachment" href="{{image}}">
								<img crossorigin="anonymous" width="250" class="mr-2 mb-2" src="{{image}}">
							</a>
							<div class="no-image" *ngIf="!packages?.handoverAttachment || packages?.handoverAttachment.length === 0">
								<span>No image attached!</span>
							</div>
						</div>
					</div>
				</section>
			</mat-tab>
		</mat-tab-group>

	</kt-portlet-body>
</kt-portlet>

<!-- section two -->
<kt-portlet>
	<kt-portlet-header [title]="'Package Detail'" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">

	</kt-portlet-header>
	<kt-portlet-body>
		<section class="packageManagement">
			<div class="section">
				<!-- Form Input START -->
				<!-- Multi Package START-->
				<div class="kt-form">
					<div class="mat-table__wrapper">

						<mat-table class="lmat-elevation-z8" mat-table #myTable [dataSource]="pkgList" matSort #sort1="matSort"
							matSortDirection="asc" matSortDisabledClear>

							<ng-container matColumnDef="category">
								<mat-cell *matCellDef="let cc; let id = index">
									<div class="col-md-12 kt-margin-bottom-20-mobile">
										<div>
											<mat-form-field class="mat-form-field-fluid ">
												<input type="text" placeholder="Category" class="inpt-custom" matInput disabled
													(keyup)="_onKeyupCategory($event)" [value]="cc.category.name ? cc.category.name : ''"
													[matAutocomplete]="category">
												<mat-error>Fill input by selecting the given items</mat-error>
												<div class="form-loader d-none">
													<mat-spinner [diameter]="10"></mat-spinner>
												</div>
												<mat-autocomplete #category="matAutocomplete">
													<mat-option *ngFor="let item of CategoryResultFiltered" [value]="item.name | titlecase"
														(click)="categoryOnChange(id, 'category', item)">
														{{item.name | titlecase }}
													</mat-option>
												</mat-autocomplete>
											</mat-form-field>
										</div>
										<div [hidden]="checkCategory(id) === ('hide' + id) ? false : true" class="col-md-12">
											<mat-form-field class="mat-form-field-fluid">
												<input class="inpt-custom" matInput placeholder="Adjust Category" disabled
													(change)="changeValue(id, 'customCategory', $event)" />
											</mat-form-field>
										</div>
									</div>
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="sender">
								<mat-cell *matCellDef="let cc; let id = index">
									<div class="col-md-12 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input class="inpt-custom" matInput placeholder="Sender" [value]="cc.sender" disabled
												(change)="changeValue(id, 'sender', $event)" />
										</mat-form-field>
									</div>
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="qty">
								<mat-cell *matCellDef="let cc; let id = index">
									<div class="col-md-12 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input class="inpt-custom" matInput type="number" placeholder="Quantity" class="mt-2" disabled
												[value]="cc.qty" min="1"
												oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : undefined"
												onKeyPress="if(this.value.length==21) return false;" (change)="changeValue(id, 'qty', $event)">
										</mat-form-field>
									</div>
								</mat-cell>
							</ng-container>

							<ng-container matColumnDef="action">
								<mat-header-cell *matHeaderCellDef>actions</mat-header-cell>
								<mat-cell *matCellDef="let cc; let id = index">
									<button mat-icon-button color="primary" matTooltip="Add Field" type="button" (click)="addCC(id)"
										[disabled]="(id + 1) === 15 || pkgList.length !== (id + 1) || packages?.package_status === 'done-confirm' || 
										 packages?.package_status === 'lost-found' ">
										<mat-icon>add</mat-icon>
									</button>
									<button mat-icon-button color="warn" matTooltip="Delete Field" type="button" (click)="removeCC(id)"
										[disabled]="(id + 1) === 1 || packages?.package_status === 'done-confirm' || 
										 packages?.package_status === 'lost-found' ">
										<mat-icon>delete</mat-icon>
									</button>
								</mat-cell>
							</ng-container>

							<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
						</mat-table>
					</div>
				</div>
				<!-- Multi Package END -->
				<!-- Form Input END -->
			</div>
		</section>
	</kt-portlet-body>
</kt-portlet>

<!-- section three -->
<kt-portlet>
	<kt-portlet-header [title]="'Detail Penerima'" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">

	</kt-portlet-header>
	<kt-portlet-body>
		<section class="packageManagement">
			<div class="section">
				<!-- Form Input START -->
				<form class="kt-form kt-form--group-seperator-dashed">
					<div class="kt-form__section kt-form__section--first">
						<div class="form-group">

							<div class="row form-input">
								<div class="col-md-6 row  mb-3">
									<label for="crdate" class="label-custom col-sm-6">Recipient Name</label>
									<mat-form-field class="mat-form-field-fluid col-sm-6">
										<input matInput (change)="changeValueReceive($event, 'name')" class="inpt-custom" autocomplete="off"
											[formControl]="packageReceive.receive_name" />
										<mat-error>Recipient Name is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-md-6 row">
									<label for="crdate" class="label-custom col-sm-6">Phone Number</label>
									<mat-form-field class="mat-form-field-fluid col-sm-6">
										<input matInput onkeyup="this.value=this.value.replace(/[^\d]/,'')"
											(change)="changeValueReceive($event, 'phone')" class="inpt-custom" autocomplete="off"
											[formControl]="packageReceive.phone_number" />
										<mat-error>Phone Number is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row form-input-date">
								<div class="col-md-6 row mb-3" [hidden]="!packages?.receiveDetail">
									<label for="crdate" class="label-custom col-sm-6">Date of Receipt</label>
									<mat-form-field class="mat-form-field-fluid col-sm-6">
										<input matInput class="inpt-custom" [formControl]="packageReceive.receive_date" readonly />
										<mat-datepicker-toggle class="ic-date" matSuffix></mat-datepicker-toggle>
										<mat-error>Date of Receipt is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-md-6 row mb-3" [hidden]="packages?.receiveDetail">
									<label for="crdate" class="label-custom col-sm-6">Date of Receipt</label>
									<mat-form-field class="mat-form-field-fluid col-sm-6">
										<input matInput class="inpt-custom" [matDatepicker]="receiveDate" (click)="receiveDate.open()"
											(dateChange)="receiveDatePicker($event)" autocomplete="off"
											[formControl]="packageReceive.receive_date" />
										<mat-datepicker-toggle class="ic-date" matSuffix [for]="receiveDate"></mat-datepicker-toggle>
										<mat-datepicker #receiveDate></mat-datepicker>
										<mat-error>Date of Receipt is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>

								<div class="col-md-6 row">
									<label for="crdate" class="label-custom col-sm-6">Recipient Time</label>
									<mat-form-field class="mat-form-field-fluid col-sm-6">
										<input matInput class="inpt-custom" [formControl]="packageReceive.receive_time" readonly />
										<mat-datepicker-toggle class="ic-date" matSuffix></mat-datepicker-toggle>
										<mat-error>Recipient Time is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<hr>
							<div class="row form-input mt-5">
								<div class="col-md-6 row  mb-3">
									<label for="crdate" class="label-custom col-sm-6">Notes</label>
									<mat-form-field class="mat-form-field-fluid col-sm-6">
										<input matInput (change)="changeValueReceive($event, 'remarks')" class="inpt-custom"
											[formControl]="packageReceive.remarks" autocomplete="off" />
										<mat-error>Notes is
											<strong>required</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- Form Input END -->
				<!-- Upload Image START -->
				<!-- NEW STYLE UPLOAD IMAGE START -->
				<div class="form-group kt-form__group row" [hidden]="packages?.attachment.length !== 0">
					<div class="preview col-lg-12 kt-margin-bottom-20-mobile">
						<h5 class="sty-default">Package In</h5>
						<div class="preview__container">
							<div class="preview__container-images">
								<div *ngFor="let image of images" class="preview__frame">
									<img [src]="image.url" draggable="false">

									<button class="preview__frame-stack" (click)="removeSelectedFile(image, '')">
										<span>Delete image</span>
									</button>
								</div>
							</div>

							<div class="preview__container-text">
								<span *ngIf="images.length || myFiles.length"><span class="text-bold">{{ myFiles.length
										}}</span> selected image.</span>
								<span *ngIf="images.length === 0 || myFiles.length === 0">No image selected.</span>
							</div>
						</div>

						<div class="form-file form-file__container">
							<label [ngClass]="{'btn btn-primary': true, 'btn-disabled': images.length >=15 || myFiles.length >=15}">
								<i class="fa fa-upload"></i> Select Image
								<input class="form-file__input" type="file" #fileInput (change)="selectFileUpload($event, '')"
									accept="image/*" multiple [disabled]="images.length ===15 || myFiles.length ===15">
							</label>

							<button *ngIf="images.length || myFiles.length" type="button" class="btn btn-danger"
								(click)="clearSelection('')">
								<i class="fa fa-trash"></i> Delete image
							</button>
						</div>
					</div>
				</div>
				<!-- NEW STYLE UPLOAD IMAGE END -->
				<hr>
				<!-- NEW STYLE UPLOAD IMAGE START -->
				<div class="form-group kt-form__group row" [hidden]="packages?.package_status !== 'lost-found'">
					<div class="preview col-lg-12 kt-margin-bottom-20-mobile">
						<h5 class="sty-default">Recipient's  photo</h5>
						<div class="preview__container">
							<div class="preview__container-images">
								<div *ngFor="let image of imagesReceiver" class="preview__frame">
									<img [src]="image.url" draggable="false">

									<button class="preview__frame-stack" (click)="removeSelectedFile(image, 'receivePict')">
										<span>Delete image</span>
									</button>
								</div>
							</div>

							<div class="preview__container-text">
								<span *ngIf="imagesReceiver.length || myFilesReceiver.length"><span class="text-bold">{{
										myFilesReceiver.length
										}}</span> selected image.</span>
								<span *ngIf="imagesReceiver.length === 0 || myFilesReceiver.length === 0">No image selected.</span>
							</div>
						</div>

						<div class="form-file form-file__container">
							<label
								[ngClass]="{'btn btn-primary': true, 'btn-disabled': imagesReceiver.length >=15 || myFilesReceiver.length >=15}">
								<i class="fa fa-upload"></i> Select Image
								<input class="form-file__input" type="file" #fileInput
									(change)="selectFileUpload($event, 'receivePict')" accept="image/*" multiple
									[disabled]="imagesReceiver.length ===15 || myFilesReceiver.length ===15">
							</label>

							<button *ngIf="imagesReceiver.length || myFilesReceiver.length" type="button" class="btn btn-danger"
								(click)="clearSelection('receivePict')">
								<i class="fa fa-trash"></i> Delete image
							</button>
						</div>
					</div>
				</div>
				<!-- NEW STYLE UPLOAD IMAGE END -->
				<!-- Upload Image END -->
			</div>
		</section>
	</kt-portlet-body>
</kt-portlet>