<div class="px-4 py-4">
	<div class="d-flex mb-3">
		<div class="mr-auto">
			<h3>{{title}}</h3>
			<span>{{desc}}</span>
		</div>
		<div class="mark__list">
			<div class="mark__item">
				<span class="mark__item-color mark__item-color--primary"></span>
				<span class="mark__item-description">Target</span>
			</div>
			<div class="mark__item">
				<span class="mark__item-color mark__item-color--secondary"></span>
				<span class="mark__item-description">Achievement</span>
			</div>
		</div>
	</div>
	<div>
		<canvas height="75" #chart></canvas>
	</div>
</div>
