<div class="row p-3 pb-5 pb-5 border rounded">
	<div class="col mark__list">
		<div class="mark__item">
			<span class="mark__item-color mark__item-color--primary"></span>
			<span class="mark__item-description">Profit</span>
		</div>
		<div class="mark__item">
			<span class="mark__item-color mark__item-color--secondary"></span>
			<span class="mark__item-description">Loss</span>
		</div>
	</div>
	<div class="col" style="height:180px;">
		<canvas #chart id="kt_chart_order_statistics" width="683" height="312"></canvas>
	</div>
</div>
