<div class="border rounded px-3 py-3">
	<div class="d-flex mb-3">
		<div class="mr-auto">
			<h3>{{title}}</h3>
		</div>

	</div>
	<div>
		<canvas height="200" #chart></canvas>
	</div>
	<div class="row mark__list">
		<div class="col-6 mark__item">
			<div class="mark__item-color mark__item-color--new">
				<p>a</p>
			</div>
			<span class="mark__item-description">New Ticket</span>
		</div>
		<div class="col-6 mark__item">
			<div class="mark__item-color mark__item-color--progress">
				<p>b</p>
			</div>
			<span class="mark__item-description">Ticket Progress</span>
		</div>
		<div class="col-6 mark__item">
			<div class="mark__item-color mark__item-color--done">
				<p>c</p>
			</div>
			<span class="mark__item-description">Ticket Done</span>
		</div>
		<div class="col-6 mark__item">
			<div class="mark__item-color mark__item-color--total">
				<p>d</p>
			</div>
			<span class="mark__item-description">Total Ticket</span>
		</div>
	</div>
</div>