::ng-deep section.facilityReservation .section {
  color: #3d3d3d;
  font-family: 'Poppins', sans-serif;

  //  Style Form Date
  .form-input-date .mat-form-field-infix {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0.257);
    border-radius: 3px;
  }

  .form-input-date .ic-date {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .form-input-date .label-custom {
    font-weight: 600;
  }

  //  Style Form Input
  .form-input .label-custom {
    font-weight: 600;
  }

  .form-input .mat-form-field-infix {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgba(0, 0, 0, 0.257);
    border-radius: 3px;
    padding: 5px;
  }

  .inpt-custom {
    font-family: 'Poppins', sans-serif;
  }

  .fnt-disabled {
    color: #3d3d3d74;
  }


}

//  Add Choose Facility (Start)
.el-choose-add-facility {
  font-family: 'Poppins', sans-serif;
  color: #00B2FF;
  font-size: 14px;
}

.el-choose-add-facility .btn-add-round {
  border-radius: 100px;
  border: 1px solid #00B2FF;
  width: 20px;
  height: 20px;
}

.el-choose-facility {
  font-family: 'Poppins', sans-serif;
  color: #3d3d3d;
  font-size: 14px;
}

.el-btn-del {
  background-color: #fd397a;
  padding: 3px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}

.el-btn-del:hover {
  background-color: #be305f;
}

//  Odd Even
.bg-odd {
  background-color: #d9d9d94b;
}

.bg-even {
  background-color: #fff;
}

.txtremove-facility {
  font-size: 18px;

  span {
    font-weight: 500;
  }
}

.btn-cancel {
  font-weight: 400;
  background-color: #FF5454;
  color: #fff;
  padding: 3.5px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-cancel:hover {
  background-color: #c64141;
}

.btn-save {
  font-weight: 400;
  cursor: pointer;
  background-color: #40C5FF;
  padding: 3.5px;
  color: #fff;
  border-radius: 3px;
}

.btn-save:hover {
  background-color: #359fcc;
}

.btn-save-disable {
  font-weight: 400;
  cursor: not-allowed;
  background-color: #C6EEFF;
  padding: 3.5px;
  color: #fff;
  border-radius: 3px;
}

//  Add Choose Facility (End)

.sty-default {
  font-family: 'Poppins', sans-serif;
}

// new upload style image
.preview {
  &__container {
    &-images {
      display: flex;
    }

    &-text {
      margin: .5em 0 1em;

      span {
        font-size: 14px;

        .text-bold {
          font-weight: 600;
        }
      }
    }
  }

  &__frame {
    position: relative;
    display: flex;
    height: 100px;
    width: 100px;
    margin-right: 1em;
    background-color: #eee;
    border-color: #aaa;
    border-radius: 5px;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    &-stack {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .75);
      color: #fff;
      border: none;
      outline: none;
      transition: .25s opacity ease;

      span {
        font-size: 12px;
      }

      &:hover {
        opacity: 1;
      }
    }

    img {
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.form-file {
  &.form-file__container {
    display: flex;
    align-items: center;

    .btn:first-child {
      margin: 0;
      margin-right: .5em;
    }
  }

  &__input {
    display: none
  }
}

// Chip

.chip {
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
  background-color: lightblue;
  border-radius: 25px;

  &--wait-confirm {
    background-color: #FBB75126;
    color: #FBB751;
  }

  &--done-confirm {
    background-color: #21E15726;
    color: #21E157;
  }

  &--taken {
    background-color: #7ae23426;
    color: #7ae234;
  }

  &--done {
    background-color: #3021E126;
    color: #3021E1;
  }

  &--opened {
    color: #5c5c5caa;
    background-color: #d3d3d35e;
  }

  &--new {
    color: #fff;
    background-color: #b46c00;
  }
}

.no-time {
  background-color: #00B2FF;
  padding: 3.5px;
  border-radius: 3.5px;
  font-weight: 500;
  color: #fff;
}

.mat-column-no {
  flex: 0 0 12%;
}

.text-cstm-disabled {
  color: #c4c4c4;
}

//  Time Picker
.hr-example-cstm input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.127);
  color: #3d3d3d;
}